.main2{
    /* border: 5px solid rgb(221, 49, 170); */
    /* border-radius: 20px 20px 30px 40px;  */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    /* For  Elliptical Corner */
    /* border-radius: 15px / 10px; */
    /* border-radius: 15px / 50px; */


    border-top-color: rgba(211, 49, 49, 0.5);
    border-bottom-color: rgba(27, 35, 185, 0.5);
    border-left-color: rgba(14, 234, 25, 0.5);
    border-right-color: rgba(61, 220, 25, 0.5);

    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;

    border-left-style: solid;
    border-right-style: double;
    border-top-style: dashed;
    border-bottom-style: ridge;
}

#border{
    border: 20px solid transparent;
    padding: 20px;
    border-image: url("image/back2.png") 30 round;
    /* border-image: url("image/back2.png") 30 stretch; */
    /* border-image: url("image/back2.png") 30 space; */
    /* border-image: url("image/back2.png") 30 repeat; */
    border-image-width: 20px;
    background-color: #fff;
}

/* 
->border-image-source: Specifies the URL of the image to be used.
->border-image-slice: Defines how the image is sliced into nine regions. Values can be pixels, percentages, or keywords like fill.
->border-image-width: Sets the width of the border image.
->border-image-outset: Controls the distance by which the border image extends beyond the element's content box.
->border-image-repeat: Determines how the side sections of the image are handled (e.g., stretch, repeat, round). 
 */