.main{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration-color: darkblue;
    text-decoration-style: wavy;
    text-overflow: clip;
    white-space: nowrap;


}