.bg{
    background-color: #f0f0f0;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    /* background-position-x: center;
    background-position-y: center; */
    background-origin: padding-box;
    /* background-color: rgba(240, 240, 240, 0.8); */
    background-blend-mode: normal;
    opacity: 1;
}
.bg-2{
    background: #f0f0f0 url('../images/background2.jpg') no-repeat center center fixed / cover;
}

/* Multiple background Image */
.bg-3{
    background-image: url('./image/back1.png'), url('./image/back2.png');
    background-size: 80px 80px,300px 300px;
    background-position: right bottom,left top;/* image position of image 1, image 2 */
    background-repeat: no-repeat, no-repeat;
    width: 300px;
    height: 300px;
}

.bg-4{
    border: 5px dotted red;
    background-color: aqua;
    padding: 50px;
    /* margin: 20px;
    border-radius: 10px; */
    width: 500px;
    height: 500px;
    background-clip:content-box;/* padding-box,border-box,content-box */
}