
.container{
    text-shadow: 5px 5px 2px #e69595, 3px 2px 3px #e69595 , 1px 1px 1px #e69595;
}
.txt-border{
    font-size: 100px;
    text-shadow: -2px 0 blue,  0 2px blue, 0 2px blue;
}

.box{
    height: 500px;
    width: 500px;
    /* box-shadow: 5px 5px #e69595; */
    /* box-shadow: 5px 5px #e69595 inset; */
    box-shadow: 5px 5px #e69595 , 3px 2px #e69595 , 1px 1px #e69595;    
}

.card{
    height: 500px;
    width: 500px;
    box-shadow:0 5px 8px rgba(0, 0, 0, 0.2),0 7px 22px rgba(0, 0, 0, 0.2);
}

.potrait{
    height: 500px;
    width: 500px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2),0 7px 22px rgba(0, 0, 0, 0.2); 
}

