body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F8F9FA;
    color: #212529;
    margin: 0;
    padding: 16px;
}

.container {
    max-width: 800px;
    margin: 32px auto;
    background-color: #3B4252;
    padding: 32px;
    color:#D8DEE9;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
}

section {
    margin-bottom: 32px;
    border-bottom: 1px solid #E9ECEF;
    padding-bottom: 16px;
}

h1 {
    font-size: 40px;
    color: #ECEFF4;
}

h2 {
    font-size: 32px;
    color: #ECEFF4;
}

h3 {
    font-size: 24px;
    color: #EBCB8B;
    border-bottom: 1px solid #CED4DA;
    padding-bottom: 4px;
}

p {
    margin-bottom: 16px;
}

strong {
    color: #A3BE8C;
}

ul {
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 1rem;
}

.example-box {
    background-color: #292e39;
    padding: 16px;
    border-left: 4px solid #88C0D0;
    border-radius: 4px;
    margin-top: 16px;
}

code {
    font-family: "Fira Code", "Courier New", monospace;
    font-size: 15px;
    background-color: #2E3440;
    color: #BF616A;
    padding: 2px 5px;
    border-radius: 3px;
}

ul{
    background-color: #4C566A;
    color:#ECEFF4;
    padding-left: 30px;
}

pre {
    background-color: #2d3748; 
    color: #e2e8f0; 
    padding: 15px;
    border-radius: 5px;
}
pre code {
    background: none;
    padding: 0;
    color:#e2e8f0 ;
}